aside
  ul.list-unstyled.nav-sidebar.doc-nav
    li.nav-item.direct
      a.nav-link(href='index.html')
        img(src='../assets/images/document/list.png' alt='')
        | Themes List
    li.nav-item.direct
      a.nav-link(href='feature-list.html')
        img(src='../assets/images/document/features.png' alt='')
        | Avaiable Features
    li.nav-item.direct
      a.nav-link(href='customer-review.html')
        img(src='../assets/images/document/review.png' alt='')
        | Customer Reviews
    li.parent-title
      span Detail Documentdddd
    li.nav-item.direct
        a.nav-link(href='layout-setting.html')
          img(src='../assets/images/document/list.png' alt='')
          | Layout settingss
    li.nav-item
      div.title
        img(src='../assets/images/document/html.png' alt='')
        | Html
        span.icon
          i.fa.fa-plus
          i.fa.fa-minus
      ul.dropdown-nav
        li.nav-item
          a.nav-link(href='getting-started.html') Getting Started
        li.nav-item
          a.nav-link(href='tree.html') Tree
        li.nav-item
          a.nav-link(href='options.html') Options
        li.nav-item
          a.nav-link(href='component.html') Component
        li.nav-item
          a.nav-link(href='app.html') App
    //- li.parent-title
    //-   span faq
    //- li.nav-item
    //-   div.title
    //-     a.nav-link.p-0(href='accordian.html')
    //-       img(src='../assets/images/document/html.png' alt='html image')
    //-       | Html   
    li.nav-item.direct
        a.nav-link(href='change-log.html')
          img(src='../assets/images/document/list.png' alt='')
          | Change log
          
  //- ul.list-unstyled.nav-sidebar.doc-nav
  //-   li.nav-item.direct
  //-     a.nav-link(href='change-log.html')
  //-       img(src='../assets/images/document/list.png' alt='')
  //-       | Change log


    //- li.parent-title
    //-   span Change log
    //- li.nav-item
    //-   div.title
    //-     a.nav-link.p-0(href='change-logreact.html')
    //-       img(src='../assets/images/document/react.png' alt='react image')
    //-       | React
    //- li.nav-item
    //-   div.title
    //-     a.nav-link.p-0(href='change-logangular.html')
    //-       img(src='../assets/images/document/angular.png' alt='angular image')
    //-       | Angular
    //- li.nav-item
    //-   div.title
    //-     a.nav-link.p-0(href='change-logvue.html')
    //-       img(src='../assets/images/document/vue.png' alt='vue image')
    //-       | Vue
    //- li.nav-item
    //-   div.title
    //-     a.nav-link.p-0(href='change-log.html')
    //-       img(src='../assets/images/document/html.png' alt='html image')
    //-       | Html
    //- li.nav-item
    //-   div.title
    //-     a.nav-link.p-0(href='change-loglaravel.html')
    //-       img(src='../assets/images/document/laravel.png' alt='laravel image')
    //-       | Laravel
