
head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Pixelstrap - Admin Document')
        meta(name='keywords', content='Pixelstrap - Admin Document')
        meta(name='author', content='pixelstrap')
        link(rel='icon', href='../assets/images/favicon.png', type='image/x-icon')
        link(rel='shortcut icon', href='../assets/images/favicon.png', type='image/x-icon')
        title Pixelstrap - Admin Document
           
        // Google font
        link(href='https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')

        if tree_view
           link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tree.css') 

        if prism
            link(rel='stylesheet', type='text/css', href='../assets/css/vendors/prism.css') 
        
        // Font Awesome
        link(rel='stylesheet', type='text/css', href='../assets/css/fontawesome.css')        
        // Feather icon
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/feather-icon.css')     
        // animate
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/animate.css')          
       


        // Bootstrap css
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/bootstrap.css')
        // App css
        link(rel='stylesheet', type='text/css', href='../assets/css/style.css')        
